<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css" />

    <title>Pastelero</title>
</head>
<body>
    <img src="../assets/img/mooncake_logo.png" alt="logo mooncake" width="100%">

    <div id="tabla">

        <table>
            <tr>
                <th>Pedido</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Descripcion del pastel</th>
                <th>Sabores</th>
                <th>Adornos</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Ellie</td>
                <td>222xxxxxxxx</td>
                <td>Maria@correo.com</td>
                <td>Pastel grande</td>
                <td>Milky Way, Vanilla Moon</td>
                <td>Velas</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jorge</td>
                <td>122xxxxxxxx</td>
                <td>jorge@correo.com</td>
                <td>Pastel pequeño</td>
                <td>Choco Mars</td>
                <td>Velas, Base para pastel</td>
            </tr>
        </table>
    </div>

</body>
</html>