body {
    font-family: "Roboto", sans-serif;
    background-color:rgb(240, 240, 240);
    margin:0;
    padding:0;
    position:relative;

}

ul{
    list-style:none;
}
#sabores {
    background-color:white;
    width:auto;
    margin:10px;
    padding: 10px;
    border-radius:10px;
    text-align: center;


}

#pedido {
    background-color:white;
    width:auto;
    margin:10px;
    padding: 10px;
    border-radius:10px;
}

img {
    height: 450px;
    object-fit: cover;
}